html { 
	
}

body {
	margin: 0px;

	background-color: #72c9bf;

	color: white;
	font-family: "Avenir";
}

#navbar {
	background-color: #59a99f;
	padding: 10px;

	display: flex;
	align-items: center;
}

	#navbar #logo {
		height: 30px;
	}

