html { 
	
}

body {
	margin: 0px;

	background-color: white;

	color: #272727;
	font-family: "Avenir";
}

$header-size: 20pt;

#navbar {
	background-color: #59a99f;
	padding: 10px 10vw;

	display: flex;
	align-items: center;
}

	#navbar #logo {
		height: 30px;
		margin-bottom: 0px;
	}

#content_container {
	

}

#basic_inputs, #summary {
	padding: 0px 10vw;
}

#basic_inputs, #basic_info {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;

	padding: 30px;

	background-color: #efefef;
}

	#basic_inputs input[type="text"], #basic_info #cost {
		margin-right: 100px;
	}

#summary {

}

	#summary h3 {
		font-size: $header-size;
	}













